[submodule "gnome-terminal-colors-solarized"]
	path = gnome-terminal-colors-solarized
	url = https://github.com/sigurdga/gnome-terminal-colors-solarized.git
[submodule "solarized"]
	path = solarized
	url = https://github.com/seebi/dircolors-solarized.git
[submodule "solarized-gedit"]
	path = solarized-gedit
	url = https://github.com/craig552uk/solarized-gedit.git
[submodule "dircolors-solarized"]
	path = dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
[submodule "solarized-full"]
	path = solarized-full
	url = https://github.com/altercation/solarized.git
